@import '~basscss/css/basscss.css';

body {
  margin: 0;
  padding: 0;
  font-family: Fira Code, monospace;
  background-color: #F7DDE2;
}

button {
  appearance: none;
  background-color: #DE6E82;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  color: #FFF;
  outline: none;
  text-transform: uppercase;
  margin: 0 10px;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.102);
  background-color: #D26578;
}

.counter {
  pointer-events: none;
  font-size: 110px;
  color: #DE6E82;
}
